
::ng-deep {
  .img-holder {

    img{
      max-width: 100% ;
      border-radius: 10px;
  }
}

.leaflet-map{
  width:100%;
  height: 100%;
  padding:20px;
  border:1px solid #ccc;
  border-radius: 10px;
}

}

.location-holder{
  background-color: #eee;
  border-radius: 10px;
  width:100%;
  margin-bottom:20px;
  margin-top:20px;
  border:1px solid #333;
  padding:20px;
  &:hover{
    cursor: pointer;
  }
}


