<div class="row">
  <div class="col-lg-8 col-md-6 col-12">
    <ul>
      <li *ngFor="let location of locations">
        <div class="location-holder" (click)="showLocation(location)">
          <h3>{{location.name}}</h3>
          <p class="lead">{{location.details}}</p>
        </div>
      </li>
    </ul>
  </div>
  <div class="col-lg-4 col-md-6 col-12">
        <div
            class="leaflet-map"
            leaflet
            (leafletMapReady)="onMapReady($event)"
            [leafletLayers]="markers"
            [leafletOptions]="options" >
       </div>

  </div>
</div>
