
::ng-deep {
.popup-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  h6{
    font-size: 22px;
    font-weight: bold;
    margin-bottom:10px;
    color:#0f0f
  }
  img{
    max-width: 100%;
  }
  p.location-description{
    font-size: 14px;
    margin-top:10px;
  }
}

.map-holder{
  padding-top: 20px;
  padding-bottom: 20px;
  min-height: 200px;
  .leaflet-map{
    width:100%;
    height: 100%;
    border:1px solid #ccc;
    border-radius: 10px;
  }
}

.leaflet-routing-collapse-btn{
  font-size:30px;
  color:#333;
}

}

.location-holder{
  background-color: #eee;
  border-radius: 10px;
  width:100%;
  margin-bottom:20px;
  margin-top:20px;
  border:1px solid #333;
  padding:20px;
  &:hover{
    cursor: pointer;
  }
}


