<div class="navbar-holder">
  <ul class="navbar-left">
    <li>
      <a [routerLink]="['/home']" routerLinkActive="active">Home</a>
    </li>
    <li>
      <a [routerLink]="['/products']" routerLinkActive="active">Products</a>
    </li>
    <li>
      <a [routerLink]="['/login']" routerLinkActive="active">Login</a>
    </li>

  </ul>
  <ul class="navbar-right">
    <li *ngIf="!this.message.isShown">
      <a (click)="showMessages()" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">Show Messages</a>
    </li>
    <li *ngIf="this.message.isShown">
      <a (click)="hideMessages()" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">Hide Messages</a>
    </li>
  </ul>
</div>
