<div class="navbar-holder">
  <ul class="navbar-left">
    <li>
      <a [routerLink]="['/home']" routerLinkActive="active">Home</a>
    </li>
    <li>
      <a [routerLink]="['/products']" routerLinkActive="active">Products</a>
    </li>
    <li *ngIf="!isLoggedIn">
      <a [routerLink]="['/login']" routerLinkActive="active">Login</a>
    </li>

  </ul>
  <div class="nav-right-holder">



    <ul class="navbar-right">
      <li  (click)="logout()" *ngIf="isLoggedIn">{{"Hello "+username +"!"}}</li>

      <li *ngIf="!isMessageDisplayed">
        <a (click)="showMessages()" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">Show Messages</a>
      </li>
      <li *ngIf="isMessageDisplayed">
        <a (click)="hideMessages()" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">Hide Messages</a>
      </li>
    </ul>
  </div>
</div>
