<div  *ngIf="product" class="product-details">
  <div class="container">
    <div class="row">
      <div class="col-6">
         <div class="product-title">
          <h5>{{product.title}}</h5>
         </div>
        <div class="image-holder">
          <img src="{{product.image}}" alt="{{product.title}}">
        </div>
      </div>
      <div class="col-6">
        <div class="product-details">
           <div class="description">
            <h3>Description:</h3>
            <p class="description">
              {{product.description}}
            </p>
           </div>

          <div class="rating-box  justify-content-between d-flex " >
            <h6 class="text-capitalize">rating:</h6>

            <div class="stars-holder">
              <span *ngFor=" let rating of starRatingArray"><i class="fa-solid fa-star ml-2 mr-2"></i></span>
            </div>
          </div>


          <div class="price-box d-flex justify-content-between" >
            <h6 class="text-capitalize">price:</h6>
            <strong class="price">{{product.price | currency}}</strong>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>
