.message-holder{
  width:200px;
  max-height: 300px;
  margin-top:50px;
  border:2px solid #ccc;

  .header{
    border-bottom:1px solid #ccc;

    padding:10px 5px 10px 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #eee;

    button{
      border:none;
      font-weight: 16px;
      font-weight: bold;
    }
    h6{
      margin-bottom: 0;
    }
  }

  .content{
    p{
      font-size:13px;

    }
    padding:10px;
  }

}
